{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="header">
    <div class="container">
        <h1><a href="{% url 'webtoon:list' %}">Naver Webtoon</a></h1>
    </div>
</div>
<div class="container">
    {% for ep in episode_list %}
        <h2 class="post-title">
            {#            <a href="{% url 'webtoon:detail' pk=w.pk %}">#}

            {#            실제 링크로 이동 시도했으나 실패 #}
            {#            -> 알고보니 " 를 빼먹어서 해당 주소를 완벽하게 가져오지 못한 것 #}
            <a href="http://comic.naver.com/webtoon/detail.nhn?titleId={{ ep.webtoon.webtoon_id }}&no={{ ep.episode_id }}">
                {{ ep.episode_id }}|
                {{ ep.title }}
                [{{ ep.rating }}]
                ({{ ep.created_date }})
            </a>
        </h2>
    {% endfor %}
</div>
</body>
</html>